/* (A) SHOW HIDE */
#cb-loading { transition: opacity 0.3s; }
.cb-hide { opacity: 0; visibility: hidden; height: 0; }
.cb-pg-hide { display: none; }

/* (B) NOW LOADING */
#cb-loading {
  width: 100vw; height: 100vh;
  position: fixed; top: 0; left: 0; z-index: 999;
  background: rgba(0, 0, 0, 0.7);
}
#cb-loading .spinner-border {
  width: 80px; height: 80px;
}

/* (C) TOAST */
#cb-toast { z-index: 99; }

/* (D) COMMON INTERFACE + COLORS */
.searchBar { padding: 0 0.8rem 0.5rem 0.8rem; }
.searchBar, .cb-grey { background-color: #efefef; }
.zebra .row:nth-child(odd) { background-color: #f2f2f2; }
